<h1>Please sign up</h1>

<form action='/users' method='post'>
  <p>Enter email:      <input type='text' name='email' value='<%= @user.email %>'></p>
  <p>Enter password:   <input type='password' name='password'></p>
  <P>Confirm password: <input type='password' name='password_confirmation'></p>
  <button type='submit'>Sign up</button>
</form>
